<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="/list">Todo App</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/list">lists <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/write">write</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">upload</a>
            </li>
        </ul>
    </div>
    <nav class="navbar navbar-light bg-light">
      <div class="form-inline">
          <input class="form-control mr-sm-2" id="search-input" type="search" placeholder="Search" aria-label="Search">
          <button class="form-control btn btn-outline-success my-2 my-sm-0" id="search" type="submit">Search</button>
      </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script>
      $('#search').click(function() {
        var searchValue = $('#search-input').val();
        window.location.replace('/search?value=' + searchValue);
      });
    </script>

</nav>
